
html,.container{
    background: #8429FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#8429FF, #ba00ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8429FF, #ba00ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8429FF, #ba00ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8429FF, #ba00ff); /* Standard syntax */    
}
body{
    background-color: transparent;
}
.container{
    padding-top: 10%;
    width: 100%;
}
aside{
    background: #911fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#911fff, #a90dff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#911fff, #a90dff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#911fff, #a90dff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#911fff, #a90dff); /* Standard syntax */
}
a{
    color: black!important;
}
.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	color: rgb(39, 255, 0);
	padding: 3px 10px 2px;
}
.formation {
    padding-bottom: 2%;
    padding-top: 2%;
    color: #424242;
}
.myLi{
    /*margin-left: 18%;*/
}
md-content {
    padding-left: 2%;
}
.hLeft {
    float: left;
    color: white;
}

@media (min-width: 768px)
    .navbar-default {
        border-color: rgba(255,255,255,.6);
        background-color: rgb(255,255,255) !important;
    }
}
md-card, md-content, md-card-title-media{
    background-color: transparent;
    color : white;
}

aside .md-title{
    color: white;
}

#myForm{
    position: relative;
    padding: 30px;
    border: 1px solid white;
    background-color:  rgba(47,47,47,.5);
}
@media(max-width: 997px){
    #myForm{
        width: auto;
    }
}
#myForm input{
    background-color: #333;
}
/*position des boutons*/
.droite{
    width: 45%;
    background-color: rgba(47,47,47,.5);
    border-radius: 0px;
    color: white;
}
.droite{
    float: right;
    background-color: rgba(31, 113, 245, 0.53) 
}

#services{
    padding-bottom: 30px;
}

#contact{
    height: auto;
    padding-bottom: 30px;
    padding-top: 50px;
}
#contact{
    background-color: white !important;
}

.myBtn{
    padding: 10px;
    border: 1px solid blue;
    border-radius: 2px;
    font-style: italic;
}

/* boutons exp */
.myBtn:hover{
    border: 1px solid green;
    border-radius: 2px;
    background-color: lightgreen;
}

/** MEDIA QUERIES **/
@media (max-width: 598px){
    .container{
        padding-top: 20%;
    }
}
@media (max-width: 993px){
    .myLi{
        margin-left: 0px !important;
    }
    #contact textarea{
        max-width: 100%;
        min-height: 200px;
    }
}
@media (min-width: 993px){
    #contact textarea{
        max-width: 100%;
        min-height: 200px;
    }
}
