.dash-unit {
    margin-bottom: 5% !important;
    padding-bottom: 5% !important;
    height: inherit !important;
}

#register-info {
    height: 506px !important;
    margin-top: 0px !important;
}




#myText {
    text-align: center;
}
